.container {
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}
.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  display: grid;
  grid-template-rows: 50px 100px;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: 800px;
  width: 80%;
  margin-left: 500px;
  margin-right: auto;
}

.about-us {
  grid-area: 2 / 1 / 3 / 2;
  direction: rtl;
  font-family: "Amiri", serif;
  font-weight: 700;
}
.img {
  grid-area: 1 / 2 / 3 / 3;
}
.paragraph-about {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 30px;
  font-weight: lighter;
  direction: rtl;
  font-family: "Amiri", serif;
}
